@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Noto Sans KR', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f7f2e4;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
